#testimonials {
  display: grid;
  grid-auto-rows: auto auto;
  height: max-content;
  background-color: #F4CE14;
  padding-bottom: 4rem;
}
#testimonials > h1 {
  justify-self: center;
}

.initial-avatar {
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Colors */
  background-color: #d1d5db;
  color: #fff;

  /* Rounded border */
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.review {
  display: grid;
  width: max-content;
  height: max-content;
  background-color: #495E57;
  border-radius: 1rem;
  grid-template-columns: auto auto;
  column-gap: 1rem;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "rating rating"
                       "photo name"
                       "comment comment";
}

.rating {
  grid-area: rating;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-self: center;
  padding: 0 0;
  margin: 1rem 1rem;
  margin-bottom: 0;
}

.rating img {
  width: 1.5rem;
}

.initial-avatar {
  grid-area: photo;
  justify-self: self-end;
  align-self: center;
}

.review > .name {
  grid-area: name;
  align-self: center;
  justify-self: self-start;
  font-size: 1.5rem;
  color: white;
}

.review > .comment {
  grid-area: comment;
  color: #495E57;
  font-size: 0.9rem;
  background-color: #d1d5db;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 1rem 1rem;
  width: 10rem;
  height: 3rem;
  margin-bottom: 0;
  margin-top: 0;
}

.reviews-cards {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  max-width: 80vw;
  gap: 2rem;
  justify-self: center;
  justify-content: center;
}