nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}

@media (min-width: 640px) {
  nav {
    flex-direction: row;
    gap: 5rem;
  }
  nav ul {
    flex-direction: row;
  }
}

nav a {
  display: inline-block;
	text-align: center;
	text-decoration: none;
  font-family: Karla;
  font-size: medium;
  font-weight: bolder;
  color: #495E57;
}

nav a:hover {
  text-decoration: underline;
}